{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{% trans 'Delete post' %}
{% endblock title %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            {% if 'warning' in message.tags %}
                <div class='ui negative message'>
                    <div class="header">
                        {{message}}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if not messages %}
        <div class="ui segment">
            <h3>{% trans 'Delete post?' %}</h3>
            <form action="" method="POST">
                {% csrf_token %}
                <p>{% trans 'Are you sure you want to delete the post?' %}</p>
                <button type='submit'>{% trans 'Submit' %}</button>
            </form>
        </div>
    {% endif %}

{% endblock content %}