{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    {% endblock %}
<div class="logform">
    <h2>Login Form</h2>
    <button onclick="document.getElementById('id01').style.display='block'" style="width: auto;">Login</button>

    <div id="id01" class="modal">
       <form class="modal-content animate" action="/apiToBot/" method="POST">{% csrf_token %}
				<div class="imgcontainer">
					<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
					<img src="{% static 'img/avatar_icon.jpg' %}" alt="Avatar" class="avatar">
				</div>

				<div class="container">
					<label><b>Username</b></label>
					<input type="text" placeholder="Enter Username" class="uname field" name="uname" required minlength="2">
					<span class="error" aria-live="polite"></span>
					<ul class ="input-requirements">
						<li>At least 2 characters long</li>
						<li>Must only contains letters and first uppercase letter</li>
					</ul>

					<label><b>Password</b></label>
					<input type="password" placeholder="Enter Password" class="psw field" name="psw" required maxlength="100" minlength="8">
					<span class="error" aria-live="polite"></span>
					<ul class="input-requirements">
						<li>At least 8 characters long (and less than 100 characters)</li>
						<li>Contains at least 1 number</li>
						<li>Contains at least 1 lowercase letter</li>
						<li>Contains at least 1 uppercase letter</li>
						<li>Contains a special character (e.g. @ !)</li>
					</ul>

					<button class="validateBtn btn-primary" type="submit">Login</button>
					<label>
						<input type="checkbox" checked="checked" name="remember"> Remember me
					</label>
				</div>

				<div class="container" style="background-color:#f1f1f1">
					<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
					<span class="psw">Forgot <a href="#">password?</a></span>
				</div>
				<script src="{% static '/js/script.js' %}"></script>
			</form>
    </div>
</div>
<script>
			// Get the modal
			var modal = document.getElementById('id01');

			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
				if (event.target == modal) {
					modal.style.display = "none";
				}
			}
		</script>
{% endblock content %}